nav {
  background-color: #427c1c;
  padding: 15px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

brand {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

a:hover {
  color: #e74c3c;
}

.cart-icon {
  font-size: 24px;
  margin-left: 10px;
}